extends ../layout

block content
	form(name="login", action="/login" method="post")
		input(type="text", name="username" id="username" placeholder="Enter Username")
		input(type="password", name="password" id="password" placeholder="Enter Password")
		input(type="submit", value="Login")

